*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html, body{
  height: 100vh;
  width: 100vw;
}
main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222; 
  position: relative;
  cursor: none;
}
main .white-keys{
  height: 400px;
  width: 1300px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(168, 42, 42, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  cursor: none;
}
main .white-keys #wkey{
  height: 90%;
  width: 60px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.584);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  user-select: none;
}
main .white-keys #wkey:active{
  scale: 0.99;
  background-color: #ddd;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
}
main .white-keys #wkey:hover{
  background-color: #f0f0f0;
}
main .black-keys{
  height: 358px;
  width: 1200px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 0px 25px;

}
main .black-keys .bpair{
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 25px;
}
  
main .black-keys .bpair #bkey{
  height: 60%;
  width: 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 1px solid #fffefeab;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  cursor: none;

 
}
main .black-keys .bpair #bkey:active{
  scale: 0.99;
  background-color: #222;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
  transform: translateY(2px);
}
main .black-keys .bpair #bkey:hover{
  background-color: #111;
}

