*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
.main{
width :100%;
height: 100%;
  background-color: rgb(117, 117, 249);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
h1{
  width: 100%;
text-align: center;
justify-content: center;
  color: white;
  font-size: 90px;
  }
.card{
  height: 350px;
 width: 250px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
padding: 10px;
box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
}
.card:hover{
  box-shadow: 0 0 10px rgba(105, 104, 104, 0.3);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.card p{
  padding: 0 10px;
  text-align: center;
}
.card button{
  padding: 4px 15px;
  border: none;
  background-color: rgb(117, 117, 249);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.card button:hover{
  background-color:white;
  color:rgb(90, 90, 202) ;
}