@font-face {
  font-family: por;
  src: url(/911\ Porscha.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.main{
  height: 100%;
  width: 100%;
 background-image: url(https://images.unsplash.com/photo-1756990688487-38fea20c395b?q=80&w=2564&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
 background-size: cover;
 background-position: center;
 text-align: center;
}
h1{
  font-family: por;
  font-size: 150px;
  padding-top: 2%;
  letter-spacing: 20px;
  color:rgb(130, 110, 110);
}
h3 {
  font-size: 30px;
  font-weight: 500;
  color: rgb(179, 174, 174);
}
h1:hover{
  color: white;
  text-shadow: 2px 2px 4px black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button{
  margin-top: 35%;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: larger;
  font-family: por;
  border: none;
  background: linear-gradient(to right bottom,#AA7623,#D7D7D7);
}
button:hover{
  background: linear-gradient(to right top,#D7D7D7,#AA7623);
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 4px rgb(80, 78, 78);
  transition: all 0.3s ease-in-out;
  font-size: 50px;
}