*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
.main{
  position: relative;
  height: 100%;
  width: 100%;
  background: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
padding: 20px 10px;
}
.part1 a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: black;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: black;
}
.part2 a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: black;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.part2 a:hover{
  color: grey;
  transition: 0.3s;
}
.winter h2{
  font-size: 200px;
  margin-top: 8%;
  margin-left: 10px;
}
.winter h3{
  position: absolute;
  top: 70%;
  left: 1%;
  font-size: 22px;
  margin-left: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}
.winter p{
  position: absolute;
  width: 13%;
  font-size: 12px;
   top:73%;
    left: 1%;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.winter button{
  position: absolute;
  top: 90%;
  left: 10%;
  border-radius: 20px;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 500;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.winter button:hover{
  background-color: grey;
  transition: 0.3s;
}

img{
  position: absolute;
  z-index: 999;
  border-radius: 10px;
}
#one{
 width: 250px;
 top: 45%;
 left: 20%;
}
#two {
  width: 200px;
top: 8%;
  left: 35%;
}
#three {
  width: 300px;
  top: 45%;
    left: 80%;
}
#four {
  width: 250px;
  top: 45%;
  left: 48%;
}
#five {
  width: 200px;
  top: 3%;
  left: 65%;
}
#five:hover, #three:hover, #two:hover, #one:hover{
  transform: scale(1.2);
  transition: 0.3s;
}
#four:hover{
  transform: scale(3.0);
    transition: 0.3s;
}